h1{
    text-align: center;
    
    margin-top: 3%;
}
.cardshape{
    width: 400px;
    height: 210px;
    background-color: black;
    margin: 5% auto 0px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3%;
    border-radius: 16px;
}
.hrline{
    width: 60%;
    height: 2px;
    background-color: gray;
    margin: auto;
}

.cardlineleft{
    margin-top: 3%;
    font-size: 20px;
    margin-left: 20%;
    font-size: 23px;
    width: 40%;
}
.cardlineright{
    margin-top: 3%;
    font-size: 20px;
    margin-left: 15%;
    font-size: 23px;
    width: 40%;
    text-align: right;
    margin-right: 20%;
}
.test{
    display: flex;
}

.cardSelectComplete{
    width: 40%;
    height: 60px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 48px;
    color: white;
    text-align: center;
    line-height: 60px;

    background-color: black;
}